@{
    ViewData["Title"] = "Desafios";
}
<!DOCTYPE html>
<html>
<body>
    <h1 class="h1Geral">Desafios</h1>
    <nav class="navbarGeral">
        <div class="containerAbout">
            <p class="pAbout">Meus desafios durante as minhas experiências tem sido a melhora do meu código, melhorar meu conhecimentos de SQL e a implementação delas na aplicação,
            melhorar e aprimorar o uso de API's nas soluções, para isso tenho realizado cursos, pesquisado pela internet e testando em aplicações que desenvolvi.</p>
        </div>
    </nav>
</body>
</html>