@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<body>
    <h1 class="h1Geral">Hugo Gatti Ferreira de Souza</h1>
    <nav class="navbarGeral">
        <table class="tableHome">
            <tr>
                <td class="pHome">
                    Cargo pretendido: Desenvolvedor C# .NET
                </td>
            </tr>
            <tr>
                <td class="pHome">
                    Pretensão salarial: R$3500,00
                </td>
            </tr>
            <tr>
                <td class="pHome">
                    Data do teste: 14/08/2024
                </td>
            </tr>
            <tr>
                <td class="pHome">
                    Finalizado em: 15/08/2024
                </td>
            </tr>
        </table>
    </nav>
</body>
</html>
